{% extends 'core/home.html' %}
{% block title%} Update Student {% endblock %}
{% block content%} 

    <div class="row">
       
        <div class="col-sm-4 mx-auto"> 
            <h1>Update Students</h1>
            <form action="/core/do-update/{{up.id}}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Roll</label>
                    <input type="roll"name="roll" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required value="{{up.roll}}">
                    
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="name"name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required value="{{up.name}}">
                    
                </div>

                <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required value="{{up.email}}">
                
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Address</label>
                    <textarea class="form-control" name="address" id="exampleFormControlTextarea1" rows="3">{{up.address}}</textarea>
                    
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Phone</label>
                    <input type="number"name="cc" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required value="{{up.phone}}">
                    
                </div>
            <div class="container text-center">
                <button class="btn btn-success">Update Student</button>
            </div>

            
                
            </form>
        </div>
    </div>
{% endblock %}

